.header{
    display: block;
    max-width: 200px;
    height: auto;
}


.logoimg{
    display: block;
    max-width: 110px;
    max-width: auto;
    padding-right: 10px;
    padding-left: auto;
}
.home{
    color: red;
}
#toplist{
    list-style-type: none;
   # display: block;
   # color: red;
   # text-align: right;
}